<table class="highlight">
  <thead>
    <tr>
        <th>Type</th>
        <th>Date</th>
        <!-- <th>Attendees</th> -->
        <!-- <th>Completed</th> -->
        <th>Details</th>
    </tr>
  </thead>

  <% data.forEach((el) => { %>
    <tbody>
        <td><%= el.class_type %></td>
        <td><%= el.class_date %></td>
<!--
        <% if (el.class_attendee === null) { %>
          <td> 0 / 10</td>
        <% } else { %>
          <td><%= el.class_attendee %> / 10</td>
        <% } %> -->

        <!-- <% if (el.class_completed === false || el.class_completed === null) { %>
          <td> NO </td>
        <% } else { %>
          <td> YES </td>
        <% } %> -->

          <td>
            <a href='/seminars/hairstrokes/class/<%= el.id %>' name='<%= el.id %>'>
            Detail Info
          </a>
          </td>

    </tbody>
  <% }) %>
</table>
