<table class="highlight responsive-table">
  <thead>
    <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Total</th>
        <th>Deposit</th>
        <th>Discount</th>
        <th>Payment</th>
        <th>Balance</th>
        <th>Actions</th>
    </tr>
  </thead>
  <% attendeeData.forEach((el) => { %>
    <tbody>
      <td><%= el.first_name %> <%= el.last_name  %></td>
      <td><%= el.email %></td>
      <td><%= el.phone %></td>
      <td>$ <%= el.total %></td>
      <td>$ <%= el.deposit %></td>
      <td>$ <%= el.discount %></td>
      <td>$ <%= el.payment %></td>
      <td>$ <%= el.total - el.deposit - el.discount - el.payment %></td>

      <!-- <% if (el.full_payment === false || el.full_payment === null) { %>
        <td> NO </td>
      <% } else { %>
        <td> YES </td>
      <% } %> -->
      <td>
        <div id="action_buttons" class="row">

          <form action="/seminars/class/attendees/delete" method="post">
            <input type="hidden" value='<%= el.phone %>' name="phone">
            <button class="waves-effect btn waves-light red" type="submit"><i class="material-icons center">delete</i></button>
          </form>

          <a class="waves-effect btn waves-light" href='/seminars/attendees/update/<%= el.phone %>'><i class="material-icons center">update</i></a>


        </div>
      </td>
    </tbody>
  <% }) %>

</table>
