
<table class="highlight responsive-table">
  <thead>
    <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Total</th>
        <th>Deposit</th>
        <th>Discount</th>
        <th>Payment</th>
        <th>Balance</th>
        <th>Actions</th>
    </tr>
  </thead>
  <% attendeeData.forEach((el) => { %>
    <div id="deleteModal" class="modal">
      <div class="modal-content">
        <h4 class="center">Confirm to Delete Seminar Attendee </h4>
        <h4 id="modalPaddings" class="red lighten-2 white-text center"><%= el.first_name %> <%= el.last_name  %></h4>

        <div class="row center">
          <form action="/seminars/class/attendees/delete" method="post">
            <input type="hidden" value='<%= el.phone %>' name="phone">
            <button class="waves-effect btn waves-light red" type="submit"><i class="material-icons center">delete</i><%= el.phone %></button>
          </form>
        </div>

      </div>
    </div>
    <tbody>
      <td><%= el.first_name %> <%= el.last_name  %></td>
      <td><%= el.email %></td>
      <td><%= el.phone %></td>
      <td>$ <%= el.total %></td>
      <td>$ <%= el.deposit %></td>
      <td>$ <%= el.discount %></td>
      <td>$ <%= el.payment %></td>
      <td>$ <%= el.total - el.deposit - el.discount - el.payment %></td>
      <td>
        <div id="action_buttons" class="row">
          <form action="/seminars/class/attendees/delete" method="post">
            <input type="hidden" value='<%= el.phone %>' name="phone">
            <button class="waves-effect btn waves-light red" type="submit"><i class="material-icons center">delete</i></button>
          </form>

          <!-- <a id="action_buttons" class="waves-effect btn waves-light red modal-trigger" href='#deleteModal'><i class="material-icons center">delete</i></a> -->

          <a class="waves-effect btn waves-light" href='/seminars/attendees/update/<%= el.phone %>'><i class="material-icons center">update</i></a>

        </div>
      </td>
    </tbody>
  <% }) %>

</table>
