<table class="highlight">
  <thead>
    <tr>
        <th>Type</th>
        <th>Date</th>
        <th>Details</th>
    </tr>
  </thead>

  <% if(classData === undefined) { %>
    <tbody>
      <td></td>
      <td class="center">Please add addditional seminars</td>
      <td></td>
    </tbody>
  <% } else { %>
    <% classData.forEach((el) => { %>
      <div id="deleteClass" class="modal">
        <div class="modal-content">
          <h4 class="center">Confirm to Delete Seminar </h4>
          <h4 id="modalPaddings" class="red lighten-2 white-text center"><%= el.class_type %></h4>
          <div class="row center">
            <form action='/seminars/class/delete/<%= el.id %>' method="post">
              <input type="hidden" value='<%= el.id %>' name="id">
              <button class="waves-effect btn waves-light red" type="submit"><i class="material-icons center">delete</i><%= el.id %></button>
            </form>
          </div>
        </div>
      </div>

      <tbody>
        <td>
          <%- include ./classSwitch %>
        </td>
        <td><%= el.class_date %></td>
        <td>
          <div id="action_buttons" class="row center">

            <!-- <div id="deleteClass" class="modal">
              <div class="modal-content">
                <h4 class="center">Confirm to Delete Seminar </h4>
                <h4 id="modalPaddings" class="red lighten-2 white-text center"><%= el.class_type %></h4>
                <div class="row center">
                  <form action='/seminars/class/delete/<%= el.id %>' method="post">
                    <input type="hidden" value='<%= el.id %>' name="id">
                    <button class="waves-effect btn waves-light red" type="submit"><i class="material-icons center">delete</i><%= el.id %></button>
                  </form>
                </div>
              </div>
            </div>
            <a class="waves-effect btn waves-light red modal-trigger" href='#deleteClass'><i class="material-icons center">delete</i></a> -->

            <form action='/seminars/class/delete/<%= el.id %>' method="post">
              <input type="hidden" value='<%= el.id %>' name="id">
              <button class="waves-effect btn waves-light red" type="submit"><i class="material-icons center">delete</i></button>
            </form>

            <a class="waves-effect btn waves-light" href='/seminars/class/<%= el.id %>'><i class="material-icons center">dashboard</i></a>
          </div>
        </td>
      </tbody>
      <% }) %>
  <% } %>

</table>
